$fontFamily: Arial,
Helvetica,
sans-serif;
$lightBG: white;
$lightComp: rgb(231, 231, 238);
$lightText: #212121;

//$colorSpec: rgb(35, 156, 255);
$colorSpec: #2178f6;
$colorSpec2: #deebfe;
$colorSpec3: rgb(250,2,116);

$darkBG: black;
$darkComp: #0e0e0e;

$colorError: rgb(236, 19, 19);
$colorGood: rgb(44, 216, 22);

$textColorDark: #333;
$textColorLight: white;

$transparentColor: rgba(0, 0, 0, 0);

body {
    background: #f5f5f5;

    .dark_mode_logo {
        display: none;
    }

    .light_mode_logo {
        display: inline-block;
    }
}

header {
    background: $lightBG;
    color: $textColorDark;
    
    .header-title {
		>section {
			#title{
                color: $textColorDark !important;
            }
		}
		.dropdown{
            color: $textColorDark !important;
			background: $lightBG !important;
		}
	}
}

#Menu {
    #nav {
        color: $textColorDark;
    }

    >label {
        color: $textColorDark;
    }
}

.media-info {
    .info {
        background: $lightBG;
        color: $textColorDark;
    }
}

.welcome-title {
    color: $textColorDark;
    font-weight: 300;
    
	background: white;
    img{
		background: $lightBG;
    }
}

.about {
    color: $textColorDark;
}

.solar-info {
    color: $textColorDark;
}

.solar-info-card {
    background-color: $lightBG;
    border: 1px solid $lightComp;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.1);
}


.text {
    section {
        h2 {
            span {
                color: $colorSpec;
                font-weight: 200;
            }
        }

        border-bottom: 1px solid $textColorDark;
    }
}


.body-info {
    color: $textColorDark;
    background-color: $lightBG;
}

.user-sign {
    background-color: $textColorLight;

    .container {
        color: $textColorDark;

        #myform {
            ul {
                li {
                    input {
                        border-bottom: 1px solid #e5e5e5;
                    }
                }
            }

            input {
                &::placeholder {
                    color: $textColorDark;
                }
            }
            .find-checks-area {
				.find-checks {
					label {
						background: $lightComp;
					}
				}
			}
        }
    }
}



.footer {
    color: $textColorDark;
    background-color: $lightBG;

    .footer_links {
        a {
            color: $textColorDark;
        }
    }
}


.Visits {
    //background: white;
    color: $textColorDark;

    .log_info {
        .log_buttons {
            >* {
                color: $textColorDark;
                background: $lightComp;
            }

            .selected_display_style {
                color: $textColorLight;
                background: $colorSpec;
            }

            :last-child {
                color: $textColorLight;
            }
        }

    }

    .visitor_grid {
        section {
            border: 1px solid #e5e5e5;
        }
    }

    .Visiters {
        .log_header {
            color: $textColorDark;
            border: none;
			background: none;

            i{
                color: $textColorDark;
            }
        }

        .visitor-name-icon {
            color: $textColorLight;
        }

        >.visitor {
            background: $lightBG;
            border: 1px solid #e5e5e5;

            .visitor_email_button {
                color: $textColorDark;

                i {
                    background: $colorSpec2;
                }
            }

            i {
                color: $textColorLight;
            }
        }

        .visitor_action {
            :nth-child(2) {
                color: $textColorDark !important;
            }
        }
    }
}

@media (min-width: 1200px) {
    #Menu {
        .toggle {
            &:checked+#Menu {
                label {
                    //color: $textColorDark;
                    color: #818181;
                }
            }
        }
    }

}

@media (max-width: 1200px) {
    #menu-button {
        input {
            color: $textColorDark;
        }
    }

    #Menu {
        background: rgba(255, 255, 255, 1);

        .toggle {
            &:checked+label {
                color: $lightText;
                background: $lightComp;
            }
        }
    }
}