$fontFamily: Arial, Helvetica, sans-serif;
$lightBG: white;
$lightComp: rgb(236, 238, 240);
$lightText: #212121;

$colorSpec: rgb(35, 156, 255);
$colorSpec2: rgb(97, 146, 185);

$darkBG: black;
$darkComp: #0e0e0e;

$colorError: rgb(236, 19, 19);
$colorGood: rgb(44, 216, 22);

$textColorDark: black;
$textColorLight: white;

$transparentColor: rgba(0, 0, 0, 0);

body {
    background: $lightComp;
    .dark_mode_logo {
        display: none;
    }
    .light_mode_logo {
        display: inline-block;
    }
}
.text {
    color: $textColorDark;
}
header {
    background: rgba(255, 255, 255, 0.3);
    color: $textColorDark;
}

#Menu {
    >label {
        color: $textColorDark;
    }
}

.background-slider {
    background: $textColorDark;
}

.media-info{
    .info{
        background: $lightBG;
    }
}
.welcome-title {
    color: $textColorDark;
    font-weight: 300;
}

.about {
    color: $textColorDark;
}

.solar-info {
    color: $textColorDark;
}

.solar-info-card {
    background-color: $lightBG;
    border: 1px solid $lightComp;
    box-shadow: 7px 7px 15px rgba(0,0,0,0.1);
}

.info {
    color: $textColorDark;
}

.text {
    section {
        h2 {
            span {
                color: $colorSpec;
                font-weight: 200;
            }
        }

        border-bottom: 1px solid $textColorDark;
    }
}


.body-info {
    color: $textColorDark;
    background-color: $lightBG;
}

.user-sign {
    background-color: $textColorLight;
}
#myform {
    ul {
        li {
            input {
                border-bottom: 1px solid #e5e5e5;
            }
        }
    }
    input {
        &::placeholder {
            color: $textColorDark;
        }
    }
}
.container {
    color: $textColorDark;
}

.footer {
    color: $textColorDark;
    background-color: $lightBG;
}


.Visits {
    color: $textColorDark;

    .log_info {
        section {
            >* {
                color: $textColorDark;
                background: $lightComp;
            }
            .selected_display_style {
                color: $textColorLight;
                background: $colorSpec;
            }

            :last-child {
                color: $textColorLight;
                background: $colorSpec;
            }
        }

    }
    .visitor_grid {
		section {
            border: 1px solid #e5e5e5;
		}
	}

    .Visiters {
        .log_header {
            color: $textColorDark;
        }

        .visitor-name-icon {
            color: $textColorLight;
        }
        >section {
            background: $lightBG;
            //border-bottom: 1px solid #e5e5e5;
    
            .visitor_email_button {
                color: $textColorDark;

                i {
                    background: $colorSpec2;
                }
            }

            i {
                color: $textColorLight;
            }
        }

        .visitor_action {
            :nth-child(2) {
                color: $textColorDark;
                background: $lightBG !important;
            }
        }
    }
}

@media (min-width: 1200px) {
    #Menu {
        .toggle {
            &:checked+#Menu {
                label {
                    //color: $textColorDark;
                    color: #818181;
                }
            }
        }
    }

}

@media (max-width: 1200px) {
    #menu-button {
        input {
            color: $textColorDark;
        }
    }

    #Menu {
        background: rgba(255, 255, 255, 1);

        .toggle {
            &:checked+label {
                color: $lightText;
                background: $lightComp;
            }
        }
    }
}
@media (max-width: 600px) {
	.Home {
		background-position: 0 0;
	}
}