@keyframes off {
	100% {
		opacity: 0;
		z-index: -1;
		display: none;
	}
}

@keyframes slideRight {
	from {
		transform: translateX(-200px);
		opacity: 0;
	}

	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideLeft {
	from {
		transform: translateX(100%);
		opacity: 0;
	}

	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(200px);
		opacity: 0;
	}

	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

$fontFamily: Arial,
Helvetica,
sans-serif;
$font2: Rubik, sans-serif;
$lightBG: white;
$lightComp: #e9eef1;
$lightText: #212121;

//$colorSpec: rgb(35, 156, 255);
$colorSpec: #2178f6;
$colorSpec2: #deebfe;
$colorSpec3: rgb(250, 2, 116);

$darkBG: black;
$darkComp: #181818;
$darkComp2: #141414;

$colorError: rgb(236, 19, 19);
$colorGood: rgb(44, 216, 22);

$textColorDark: #333;
$textColorLight: white;

$transparentColor: rgba(0, 0, 0, 0);

$speed: 500ms;

@mixin button {
	width: fit-content;
	padding: 10px 20px;
	border: none;
	background: $colorSpec;
	color: $textColorLight;
	letter-spacing: .09em;
	border-radius: 5px;

	:after {
		outline: none;
	}
}

html {
	margin: 0;
	padding: 0;
	font-family: $fontFamily;
	overflow-y: overlay;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: $fontFamily;
	background: $darkBG;
	overflow-y: overlay;
	overflow-x: hidden;

	background-size: 100vw auto;
	background-repeat: no-repeat;

	.light_mode_logo {
		display: none;
	}
}

button,
input[type="button"] {
	&:hover {
		cursor: pointer;
	}
}

header {
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 0 35px;
	z-index: 2;
	height: 60px;
	gap: 15px;

	background: $darkComp;
	color: $textColorLight;

	#nav {
		padding: 21px 40px;
		color: $textColorLight;
		position: relative;

		.dropdown-toggle {
			padding: 0;
			margin: 0;
		}

		.dropdown {
			background: $colorSpec;
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			padding: 15px;
			margin: 0;

			min-width: fit-content;
			width: 100%;

			box-sizing: border-box;
			text-align: center;
			border-radius: 0 0 10px 10px;

			li {
				list-style-type: none;
				padding: 15px 0;

				label {
					color: $lightBG;
				}
			}
		}

		* {
			&:hover {

				cursor: pointer;
			}
		}
	}

	.header-title {
		padding: 15px 20px !important;

		>section {
			display: flex;
			gap: 15px;
			align-items: center;

			>img {
				height: 30px;
			}

			>#title {
				font-size: 20px;
				margin: 0;
				color: $textColorLight;
			}
		}

		.dropdown {
			background: $darkComp !important;
		}
	}
}

#Menu {
	display: flex;
	font-family: arial, sans-serif;
	margin: auto;
	transition: all 200ms ease-in-out;
	position: relative;
	align-items: center;

	font-size: 15px;


	>label {
		box-sizing: border-box;
		color: $lightBG;
		padding: 20px 40px;
		z-index: 1;
		float: left;
		text-align: center;
		transition: all 200ms ease-in-out;
		height: 60px;

		&:hover {
			cursor: pointer;
		}
	}
}

.style_switch {
	display: flex;
	align-items: center;
	gap: 15px;

	.switch {
		position: relative;
		box-sizing: border-box;
		padding: 0 3px;
		height: 30px;
		min-width: 50px;

		>input {
			display: none;

			&:checked {
				+ {
					.slider {
						background-color: $colorSpec;

						&:before {
							-webkit-transform: translateX(19px);
							-ms-transform: translateX(19px);
							transform: translateX(19px);
						}
					}
				}
			}

			&:focus {
				+ {
					.slider {
						box-shadow: 0 0 1px $colorSpec;
					}
				}
			}
		}

		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $lightComp;
			-webkit-transition: .4s;
			transition: .4s;

			&:before {
				position: relative;
				content: "";
				height: 25px;
				width: 25px;
				margin: 3px;
				background-color: $lightBG;
				float: left;
				-webkit-transition: .4s;
				transition: .4s;
			}
		}

		.slider.round {
			border-radius: 36px;

			&:before {
				border-radius: 50%;
			}
		}
	}
}

.toggle {
	display: none;
}

main {
	min-height: calc(100vh - 106px);

	>section {
		display: grid;
		gap: 35px;
		box-sizing: border-box;
		padding: 95px 35px 35px 35px;
		z-index: 0;
	}

	>.Home {
		background-image: url('./../img/background.PNG');
		background-size: 100vw auto;
		background-repeat: no-repeat;

		width: 100vw;
		min-height: calc(100vh);
		display: flex;
		flex-direction: column;
		gap: 50px;
		box-sizing: border-box;

		.bottom-banner {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;

			color: #3e3e3e;
			background: #ccddf5;

			padding: 15px 35px;
			font-size: 30px;

			border-radius: 10px;

			span {
				font-size: 0.5em;
				font-weight: 100;
			}

			button {
				@include button;
				font-size: 0.5em;
				height: fit-content;
				justify-self: end;
			}
		}
	}
}

.welcome-title {
	position: relative;
	color: $textColorLight;
	text-align: center;
	opacity: 1;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
	margin-left: auto;
	animation: slideRight $speed ease-in-out both;

	padding: 35px;
	padding-left: 75px;
	border-radius: 15px;

	background: $darkComp;

	p {
		margin: 10px 0;
	}

	.Learn {
		@include button;

		border-radius: 25px;
		text-decoration: none;
		margin: 10px 0;
	}

	.description {
		i {
			color: $colorSpec;
			font-size: 1.5em;
		}
	}

	img {
		position: absolute;
		height: 100px;
		left: -50px;
		border-radius: 50%;
		padding: 15px;
		
		background: $darkComp;
	}
}

.about {
	color: $textColorLight;
	max-width: 600px;
	text-align: right;
	margin: 0;
	margin-left: auto;
	padding: 50px 0;
	animation: slideUp $speed $speed ease-in-out both;

	>.title {
		font-family: $font2;
		font-weight: 600;
		margin: 0;
		color: $colorSpec;
	}
}

.solar-info {
	display: flex;
	color: $textColorLight;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
	animation: slideUp $speed $speed ease-in-out both;
}

.solar-info-card {
	background: $darkComp;
	padding: 40px 20px;
	border-radius: 5px;
	text-align: center;
	min-width: 200px;
	max-width: 350px;
	flex-grow: 1;

	>img {
		width: 75px;
		height: auto;
		margin-bottom: 25px;
	}

	>p {
		margin: 0;
	}

	>.amount {
		font-family: $font2;
		font-size: 30px;
		margin-bottom: 15px;
		font-weight: 600;
	}
}

.media-info {
	display: flex;
	flex-direction: column;
	gap: 25px;

	>section {
		display: flex;
		width: 100%;
		align-items: center;
	}

	.APOD {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.info {
		box-sizing: border-box;
		color: $textColorLight;
		display: grid;
		grid-template-columns: calc(50% - 20px) calc(50% - 20px);
		align-items: center;
		justify-items: center;
		gap: 40px;
		background: $darkComp;

		img {
			width: 100%;
		}

		iframe {
			width: 100%;
		}
	}

	.text {
		box-sizing: border-box;
		display: grid;
		align-items: center;
		justify-items: center;
		transition: all 300ms ease-in-out;
		padding: 35px;

		>* {
			justify-self: end;
		}

		section {
			h2 {
				font-family: $font2;
				font-weight: 600;
				margin: 5px 0;

				span {
					color: $colorSpec;
					font-weight: 200;
				}
			}

			border-bottom: 1px solid $textColorLight;
			padding-bottom: 15px;
			text-align: right;

			h3 {
				font-size: 18px;
				font-weight: 200;
				margin: 5px 0;
			}
		}

		p {
			align-self: start;
			text-align: right;
		}
	}

	.MarsRover {
		p {
			text-align: left;
		}

		.text {
			section {
				text-align: left;
				justify-self: start;
			}
		}
	}
}



.paused {
	animation-play-state: paused !important;
}

.hidden {
	display: none !important;
}

.body-info {
	display: grid;
	border-radius: 25px;
	align-items: center;
	float: left;
	z-index: 0;
	color: $lightBG;
	background-color: $darkBG;

	&:hover {
		cursor: pointer;
	}
}

.body-info-main {
	display: grid;
	height: 100%;
	column-gap: 10px;
	align-items: center;

	>img {
		max-width: 80%;
		max-height: 90%;
		justify-self: center;
	}
}

.body-info-image {
	max-width: 80%;
	max-height: 90%;
	justify-self: center;
}

.body-info-text {
	box-sizing: border-box;
	text-align: center;
	padding: 15px;

	>h2 {
		font-family: 'Orbitron', sans-serif;
		margin: 0;
	}

	>h3 {
		font-family: 'Orbitron', sans-serif;
		margin: 10px 0;
	}

	>p {
		margin: 0;
		font-size: 15px;
	}
}

.body-info-icons {
	font-size: 13px;
	justify-self: center;
	align-self: center;
	padding: 0 15px;
	line-height: 19px;

	>p {
		font-family: 'Raleway', sans-serif;
		margin: 20px 0;
	}

	p {
		&::first-line {
			font-size: 15px;
			font-weight: 500;
		}
	}
}

.image-not-found {
	opacity: 0.5;
	width: 50px;
	height: 50px;
}

.user-sign {
	z-index: 4;
	width: 100vw;
	min-height: 100vh;
	background-color: $darkComp;
	padding: 0;
	display: grid;
	justify-items: center;

	grid-template-columns: minmax(10%, 49vh) minmax(600px, auto) minmax(10%, 49vh);
	gap: 0 !important;

	>section {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 25px;
	}

	>.left {
		background-image: url('./../img/background2.PNG');
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position-x: right;
	}

	>.right {
		background-image: url('./../img/background3.PNG');
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position-x: left;
	}

	.container {
		box-sizing: border-box;
		display: grid;
		justify-items: center;
		color: $textColorLight;

		font-size: 15px;
		padding: 25px;

		align-items: center;

		width: 100%;
		height: 100%;

		* {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}

		#myform {
			width: 100%;
			display: grid;
			gap: 20px;

			max-width: 600px;

			>img {
				box-sizing: content-box;
				width: 30px;
				margin: auto;
				background: $colorSpec;
				padding: 15px;
				border-radius: 50%;
			}

			.flex {
				width: 100%;
				display: flex;
				flex-direction: column;
				list-style-type: none;
				padding: 0;
				margin: 0 auto;
				gap: 15px 25px;

				li {
					display: flex;
					flex-direction: column;
				}

				>li {
					label {
						margin: 10px 0;
					}
				}
			}

			ul {
				li {
					input {
						border: none;
						border-bottom: 1px solid #505050;
						line-height: 1.5em;
						width: 100%;
					}
				}
			}

			input {
				&:placeholder-shown {
					font-size: 0.85em;
					font-style: italic;
					font-weight: 100;
					background: transparent;
					outline: none;
				}

				&::placeholder {
					color: $textColorLight;
					opacity: 0.5;
				}

				&:focus {
					outline: none;
					margin: 0;
					background: $transparentColor;
					border-bottom: 1px solid $colorSpec;
				}

				&:active {
					outline: none;
					margin: 0;
					background: $transparentColor;
					border-bottom: 1px solid $colorSpec;
				}
			}

			.find-checks-area {
				display: grid;
				gap: 5px;

				p {
					font-size: 1em;
					margin: 0;
				}

				.find-checks {
					height: max-content;

					>input {
						display: none;

						&:checked {
							+label {
								background: $colorSpec;
								color: $textColorLight;
							}
						}
					}

					label {
						padding: 10px;
						border-radius: 5px;
						display: inline-block;
						background: $darkComp2;
					}
				}
			}

			.formButtons {
				display: flex;
				gap: 10px;

				button {
					@include button;
				}

				:first-child {
					background: $colorSpec2;
					color: $textColorDark;
				}
			}

			label.desc {
				display: table;
				clear: both;
			}
		}
	}

}


.errorMsg {
	margin: 5px 0;
	color: $colorError;
}

input.was-validated {
	&:invalid {
		color: $colorError;
		border-bottom: 1px solid $colorError !important;
		margin-bottom: 0 !important;

		~div.errorMsg {
			display: block;
		}
	}

	&:valid {
		color: $colorGood;
		border-bottom: 1px solid $colorGood !important;
		margin-bottom: 0 !important;
	}


}

input {
	&:valid~div.errorMsg {
		display: none;
	}

	&:invalid~div.errorMsg {
		display: none;
	}
}


.form_flex {
	gap: 15px;
	flex-direction: row !important;

	>section {
		width: 100%;
		display: grid;
	}
}


.form-send {
	flex: 1 2;
}

#menu-button {
	input {
		&:hover {
			cursor: pointer;
		}
	}
}

.footer {
	box-sizing: border-box;
	width: 100vw;
	display: flex;
	padding: 10px 30px;
	color: $textColorLight;
	background-color: $darkComp;
	align-items: center;
	justify-content: space-evenly;

	font-size: 15px;

	>* {
		flex: 1 100%;
	}

	.footer_main {
		display: flex;
		align-items: center;
		gap: 15px;

		img {
			height: 2.5em;
		}

		h1 {
			font-weight: 400;
			font-size: 1.25em;
		}
	}

	.footer_links {
		display: flex;
		list-style: none;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
		gap: 15px;
		font-size: 1.66em;

		a {
			color: $textColorLight;

			i {
				opacity: 0.65;
			}
		}

		>:last-child {
			a {
				@include button;

				padding: 10px 15px;
				text-decoration: none;
				display: inline-block;
				font-size: 0.5em;
			}
		}

		>* {
			&:hover {
				cursor: pointer;
			}
		}
	}

	.footer_legal {
		text-align: right;
		opacity: 0.5;
	}
}

.Visits {
	color: $textColorLight;
	text-align: left;
	gap: 25px;
	min-height: calc(100vh - 106px);
	grid-auto-rows: min-content;

	.visit-stats {
		color: $textColorDark;
		display: flex;
		gap: 15px;

		.visit-stat {
			background: $colorSpec2;
			border-radius: 10px;
			padding: 5px 50px;
			min-width: 150px;
			width: fit-content;

			.visit-stat-header {
				margin-bottom: 0;
			}

			.visit-stat-num {
				display: flex;
				align-items: center;
				gap: 15px;
				margin: 10px 0;

				span {
					font-weight: bold;
					font-size: 2em;
					color: $colorSpec;
					height: fit-content;
					padding-right: 15px;
					border-right: 2px solid $colorSpec;
				}
			}
		}

		.stat-2 {
			background: #eddefe;

			.visit-stat-num {
				span {
					color: #b321f6;
					border-right: 2px solid #b321f6;
				}
			}
		}

		.stat-3 {
			background: #fee7de;

			.visit-stat-num {
				span {
					color: #ff3a17;
					border-right: 2px solid #ff3a17;
				}
			}
		}
	}

	.log_info {
		display: flex;
		align-items: center;
		font-weight: 200;

		.log_buttons {
			margin-left: auto;

			>* {
				@include button;
				margin: 0 5px;
				background: $darkComp;
				padding: 10px 20px;


				&:hover {
					cursor: pointer;
				}
			}

			.selected_display_style {
				background: $colorSpec;
			}

			:last-child {
				background: $colorSpec;
			}
		}

	}

	.visitor_grid {
		//grid-template-columns: repeat(5, 1fr);
		display: flex !important;
		flex-wrap: wrap;

		section {
			grid-template-columns: auto !important;
			grid-auto-rows: max-content;
			gap: 15px 0 !important;
			padding: 25px !important;
			justify-items: center !important;
			text-align: center !important;

			>:first-child {
				display: grid;
				justify-items: center;
				align-items: center;
				gap: 15px 0;
				width: 100%;
				font-size: 20px;

				.visitor-name-icon {
					display: block;
					font-size: 50px;
					padding: 12px 25px;
					margin: 0;
					border-radius: 50px;
				}
			}

			.visitor_action {
				gap: 0 5px !important;
				border: none;

				input,
				i {
					margin: 0 !important;
				}
			}
		}

		.log_header {
			display: none;
		}
	}

	.Visiters {
		display: grid;
		gap: 5px;
		.log_header {
			color: $textColorLight;
			background: none;

			display: grid;
			justify-items: start;
			align-items: center;
			grid-template-columns: 1fr 2fr 1fr 1fr .5fr;
			background: none;
			padding: 5px 10px;
			gap: 0 15px;
			
			i{
				margin-right: 10px;
			}
			.visitor_action{
				justify-self: center;
			}
		}

		>.visitor {
			display: grid;
			justify-items: start;
			align-items: center;
			grid-template-columns: 1fr 2fr 1fr 1fr .5fr;
			background: $darkComp;
			border-radius: 5px;
			padding: 10px;
			gap: 0 15px;

			.visitor_email_button {
				text-decoration: none;
				color: $textColorLight;
				font-weight: 100;

				i {
					padding: 7px 10px;
					border-radius: 5px;
					margin: 5px;
					background: $colorSpec2;

					&:hover {
						cursor: pointer;
					}

					@media (min-width: 1200px) {
						display: none;
					}
				}

				span {
					@media (max-width: 1200px) {
						display: none;
					}
				}
			}

			.visitor-name-icon {
				display: inline-block;
				font-size: 13px;
				box-sizing: border-box;
				padding: 7px 10px;
				margin: 0 15px 0 0;
				border-radius: 20px;
				width: fit-content;
			}

			.visitor_action {
				margin: 0;
				background: none;
				justify-self: center;
				display: flex;
				padding: 0 !important;

				gap: 0;

				input,
				i {
					@include button;
					margin: 5px;
					padding: 8px 7px 8px 8px;
					font-size: 16px;

					&:hover {
						cursor: pointer;
					}
				}

				:nth-child(2) {
					background: none;
				}
			}

			p {
				margin: 0;
			}
		}
	}
}


@media (max-width: 900px) {
	.footer {
		flex-direction: column;
	}

	.footer_links {
		width: 100%;
	}

	.footer_legal {
		text-align: center !important;
	}
}

@media (min-width: 2000px) {
	.welcome-title {
		.welcome {
			font-size: 45px;
		}

		.description {
			font-size: 20px;
		}
	}

	.container {
		max-width: 1000px;
		font-size: 20px;
	}

	#myform {
		input {
			&:placeholder-shown {
				font-size: 20px;
			}
		}
	}

	.button-1 {
		font-size: 20px;
	}

	.user-sign {

		>section {
			h1 {
				font-size: 25px;

				span {
					font-size: 30px;
				}
			}
		}

		section {
			img {
				width: 200px;
			}
		}
	}
}

@media (min-width: 1200px) {
	#menu-button {
		display: none;
	}

	.welcome-title {
		.welcome {
			font-size: 30px;
		}

		.description {
			font-size: 14px;
		}
	}

	.info {
		.text {
			section {
				h2 {
					font-size: 50px;
				}
			}
		}

		width: 100%;
	}

	.Home {
		padding: 100px 50px 50px 50px;
	}

	.body-info {
		width: 100%;
		min-height: 300px;
		min-width: 300px;
		grid-template-columns: 6fr 1fr;
		grid-template-rows: 100%;
	}

	.body-info-text {
		h2 {
			font-size: 25px;
		}

		h3 {
			font-size: 17px;
			font-weight: normal;
		}
	}

	.body-info-image {
		width: auto;
	}

	.body-info-main {
		grid-template-columns: 2fr 3fr;
		justify-content: center;
	}

	.body-info-icons {
		>p {
			font-weight: 200;
		}
	}

	.about {
		>.title {
			font-size: 80px;
		}

		>.description {
			font-size: 20px;
		}
	}

	.solar-info-card {
		margin: 15px 0;
	}

	#Menu {
		label {
			margin: 0;
		}

		.toggle {
			&:checked+#Menu {
				label {
					color: $lightBG;
				}
			}
		}
	}

	.APOD {
		.info {
			flex-direction: column-reverse;
		}
	}
}

@media (max-width: 1200px) {
	.welcome-title {
		margin-top: 0px;
	}

	.about {
		>.title {
			font-size: 80px;
		}

		>.description {
			font-size: 20px;
		}
	}

	.slide {
		right: 0 !important;
	}

	#menu-button {
		margin-left: auto;
		transition: all 200ms ease-in-out;

		input {
			color: $lightBG;
			font-size: 35px;
			padding: 0;
			margin: 0;
			z-index: 1;
			background: none;
			border: none;
			outline: none;
		}
	}

	.button-slide {
		padding-right: calc(50% + 15px) !important;
	}

	#Menu {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 50%;
		height: 100vh;
		top: 0;
		right: -50%;
		margin: auto;
		z-index: 2;
		background: rgba(0, 0, 0, 0.9);

		label {
			border-radius: 15px;
			margin: 5px 15px;
			max-width: calc(100% - 30px);
			transition: none;

			&:hover {
				cursor: pointer;
			}
		}

		.toggle {
			&:checked+label {
				color: $lightText;
				background: $lightBG;
			}
		}
	}

	.background-slider {
		display: none;
	}

	.info {
		width: 100%;
	}

	.text {
		section {
			h2 {
				font-size: 30px;
			}
		}
	}

	.MarsRover {
		.info {
			iframe {
				width: 100%;
			}
		}
	}
}

@media (min-width: 800px) {
	.welcome-title {
		.welcome {
			font-size: 30px;
		}

		.description {
			font-size: 14px;
		}
	}
}

@media (max-width: 800px) {
	.welcome-title {
		.welcome {
			font-size: 25px;
		}

		.description {
			font-size: 14px;
		}
	}

	.text {
		p {
			display: none;
		}
	}

	.info {
		.text {
			section {
				h2 {
					font-size: 40px;
				}
			}
		}
	}

	.Home {
		padding: 100px 35px 35px 35px;
	}
}

@media (min-width: 600px) {
	.body-info {
		grid-template-columns: 6fr 1fr;
		grid-template-rows: 100%;
	}

	.body-info-main {
		grid-template-columns: 2fr 3fr;
		justify-content: center;
	}

	.body-info-icons {
		width: fit-content;
		text-align: right;
	}
}

@media (max-width: 600px) {
	.body-info {
		max-width: 100%;
		height: fit-content;
		grid-template-columns: 1fr;
		grid-template-rows: auto 25%;
	}

	.body-info-text {

		>p {
			display: none;
		}

		justify-self: center;

		h2 {
			font-size: 35px;
		}

		h3 {
			font-size: 20px;
			font-weight: normal;
		}
	}

	.body-info-image {
		width: auto;
	}

	.body-info-main {
		grid-template-columns: auto;
		justify-content: center;
	}

	.body-info-icons {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid $lightBG;
		margin: 55px 0;
		width: 80% !important;
		text-align: center;

		>p {
			font-weight: 100;
		}
	}

	.Home {
		padding: 100px 20px 20px 20px;

		.info {
			display: flex;
			flex-direction: column;

			.text {
				p {
					display: none;
				}

				section {
					h2 {
						font-size: 30px;
					}
				}
			}

			iframe {
				width: 100%;
			}
		}

		.APOD {
			.info {
				flex-direction: column-reverse;
			}
		}
	}

	.about {
		>.title {
			font-size: 50px;
		}

		>.description {
			font-size: 14px;
		}
	}

	.solar-info {
		flex-direction: column;
	}

	.solar-info-card {
		margin: 15px auto;
	}

	.our-planets {
		.planet {
			p {
				font-size: 25px;
			}
		}
	}



	.footer_main {
		h1 {
			display: none;
		}

		img {
			margin: 15px 0;
		}
	}
}

@media (max-width: 1000px) {
	.container {
		width: 100vw;
	}

	.user-sign {

		grid-template-columns: 1fr;
		grid-template-rows: 1fr 5fr;

		>.left {
			background-image: url('./../img/background4.PNG');
			background-size: 100vw auto;
			background-repeat: no-repeat;
		}

		>.right {
			display: none;
		}
	}
}