@keyframes off {
	100% {
		opacity: 0;
		z-index: -1;
		display: none;
	}
}

@keyframes slideRight {
	from {
		transform: translateX(-200px);
		opacity: 0;
	}

	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideLeft {
	from {
		transform: translateX(100%);
		opacity: 0;
	}

	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(200px);
		opacity: 0;
	}

	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

$fontFamily: Arial,
Helvetica,
sans-serif;
$lightBG: white;
$lightComp: #EDEDED;
$lightText: #212121;

$colorSpec: rgb(0, 123, 224);
$colorSpec2: rgb(97, 146, 185);

$darkBG: black;
$darkComp: #0e0e0e;

$colorError: rgb(236, 19, 19);
$colorGood: rgb(44, 216, 22);

$textColorDark: black;
$textColorLight: white;

$transparentColor: rgba(0, 0, 0, 0);

html {
	margin: 0;
	padding: 0;
	font-family: $fontFamily;
	overflow-y: overlay;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: $fontFamily;
	background: $darkBG;
	overflow-y: overlay;
	overflow-x: hidden;

	background-size: 100vw auto;
	background-repeat: no-repeat;
}

// ::-webkit-scrollbar {
// 	background: transparent;
// }
button,
input[type="button"] {
	&:hover {
		cursor: pointer;
	}
}

header {
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	box-sizing: border-box;
	padding: 0 15px;
	z-index: 2;
	height: 60px;

	>section {
		display: flex;
		align-items: center;

		>.light_mode_logo {
			display: none;
		}

		>img {
			height: 30px;
			padding: 0px 15px;
		}

		>#title {
			color: $textColorLight;
			font-size: 20px;
		}
	}
}

#Menu {
	display: flex;
	font-family: arial, sans-serif;
	overflow: hidden;
	margin: auto;
	transition: all 200ms ease-in-out;
	position: relative;

	>label {
		box-sizing: border-box;
		color: $lightBG;
		font-size: 15px;
		padding: 22px 40px;
		z-index: 1;
		float: left;
		text-align: center;
		transition: all 200ms ease-in-out;
		height: 60px;

		&:hover {
			cursor: pointer;
		}
	}

	.toggle {
		&:checked {
			+ {
				#Menu {
					>label {
						opacity: 1;
					}
				}
			}
		}
	}

	#Home {
		&:checked {
			~ {
				.background-slider {
					margin-left: 0;
				}
			}
		}
	}

	#Planets {
		&:checked {
			~ {
				.background-slider {
					margin-left: 16.66%;
				}
			}
		}
	}

	#Moons {
		&:checked {
			~ {
				.background-slider {
					margin-left: 33.33%;
				}
			}
		}
	}

	#Dwarfs {
		&:checked {
			~ {
				.background-slider {
					margin-left: 49.99%;
				}
			}
		}
	}

	#Other {
		&:checked {
			~ {
				.background-slider {
					margin-left: 66.66%;
				}
			}
		}
	}

	#Visits {
		&:checked {
			~ {
				.background-slider {
					margin-left: 83.33%;
				}
			}
		}
	}
}

.toggle {
	display: none;
}

.background-slider {
	position: absolute;
	width: 16.66%;
	height: 1px;
	font-size: 0;
	padding: 0 0;
	background: $lightBG;
	margin-top: 59px;
	z-index: 0;
	transition: all 200ms ease-in-out;
}

main {
	min-height: calc(100vh - 106px);

	>section {
		display: grid;
		gap: 50px;
		box-sizing: border-box;
		padding: 95px 35px 35px 35px;
		z-index: 0;
	}

	>.Home {
		background-image: url('./../img/earth-background.jpg');
		background-size: 100vw auto;
		background-repeat: no-repeat;
		width: 100vw;
		min-height: calc(100vh);
		display: flex;
		flex-direction: column;
		gap: 50px;
		box-sizing: border-box;
	}
}

.welcome-title {
	color: $textColorLight;
	text-align: center;
	opacity: 1;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	animation: slideRight 1s ease-in-out both;

	p {
		margin: 10px 0;
	}

	.Learn {
		background: $colorSpec;
		border-radius: 25px;
		width: fit-content;
		padding: 15px;
		font-size: 16px;
		color: $textColorLight;
		text-decoration: none;
		margin: 10px 0;

		&:hover {
			cursor: pointer;
		}
	}
}

.about {
	color: $textColorLight;
	max-width: 600px;
	text-align: right;
	margin: 0;
	margin-left: auto;
	padding: 50px 0;
	animation: slideLeft 1s .5s ease-in-out both;

	>.title {
		font-weight: 600;
		margin: 0;
	}
}

.solar-info {
	display: flex;
	color: $textColorLight;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 15px;
	animation: slideUp 1s 1s ease-in-out both;
}

.solar-info-card {
	background: $colorSpec;
	padding: 40px 20px;
	border-radius: 5px;
	text-align: center;
	min-width: 200px;

	>img {
		width: 75px;
		height: auto;
		//filter: invert();
		margin-bottom: 25px;
	}

	>p {
		margin: 0;
	}

	>.amount {
		font-size: 30px;
		margin-bottom: 15px;
		font-weight: 600;
	}
}

.carousel {
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	gap: 16.66%;
	width: 100vw;
	padding: 0 50px;
	overflow: scroll;
}

.media-info {
	display: flex;
	flex-direction: column;
	gap: 25px;

	>section {
		display: flex;
		width: 100%;
		align-items: center;
	}
}

.APOD {
	display: flex;
	justify-content: center;
	align-items: center;
}

.info {
	box-sizing: border-box;
	color: $textColorLight;
	display: grid;
	grid-template-columns: calc(50% - 20px) calc(50% - 20px);
	align-items: center;
	justify-items: center;
	gap: 40px;

	img {
		width: 100%;
	}
}

.text {
	box-sizing: border-box;
	display: grid;
	align-items: center;
	justify-items: center;
	transition: all 300ms ease-in-out;

	>* {
		justify-self: end;
	}

	section {
		h2 {
			font-weight: 600;
			margin: 5px 0;

			span {
				color: $colorSpec;
				font-weight: 200;
			}
		}

		border-bottom: 1px solid $textColorLight;
		padding-bottom: 15px;
		text-align: right;

		h3 {
			font-size: 18px;
			font-weight: 200;
			margin: 5px 0;
		}
	}

	p {
		align-self: start;
		text-align: right;
	}
}

.MarsRover {
	p {
		text-align: left;
	}

	.text {
		section {
			text-align: left;
			justify-self: start;
		}
	}
}

.paused {
	animation-play-state: paused !important;
}

.hidden {
	display: none !important;
}

.body-info {
	display: grid;
	border-radius: 25px;
	align-items: center;
	float: left;
	z-index: 0;
	color: $lightBG;
	background-color: $darkBG;

	&:hover {
		cursor: pointer;
	}
}

.body-info-main {
	display: grid;
	height: 100%;
	column-gap: 10px;
	align-items: center;

	>img {
		max-width: 80%;
		max-height: 90%;
		justify-self: center;
	}
}

.body-info-image {
	max-width: 80%;
	max-height: 90%;
	justify-self: center;
}

.body-info-text {
	box-sizing: border-box;
	text-align: center;
	padding: 0 15px;

	>h2 {
		font-family: 'Orbitron', sans-serif;
		margin: 0;
	}

	>h3 {
		font-family: 'Orbitron', sans-serif;
		margin: 10px 0;
	}

	>p {
		margin: 0;
		font-size: 15px;
	}
}

.body-info-icons {
	font-size: 13px;
	justify-self: center;
	align-self: center;
	padding: 0 15px;
	line-height: 19px;

	>p {
		font-family: 'Raleway', sans-serif;
		margin: 20px 0;
	}

	p {
		&::first-line {
			font-size: 15px;
			font-weight: 500;
		}
	}
}

.image-not-found {
	opacity: 0.5;
	width: 50px;
	height: 50px;
}

.user-sign {
	z-index: 4;
	width: 100vw;
	min-height: 100vh;
	background-color: $textColorLight;
	padding: 0;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 1fr 2fr;
	gap: 0 !important;

	>section {
		display: grid;
		justify-items: center;
		gap: 30px;
		background-color: $colorSpec;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 25px;

		h1 {
			margin: 0;
			margin-bottom: 35px;
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
			text-align: center;
			font-size: 20px;
			color: $textColorLight;
			line-height: 30px;

			span {
				font-size: 25px;
				font-weight: 500;
				color: $textColorLight;
			}
		}

		img {
			border-radius: 50%;
			width: 150px;
			//filter: invert();
			align-self: end;
		}
	}
}

#myform {
	width: 100%;
	display: grid;
	gap: 35px;

	ul {
		li {
			input {
				border: none;
				border-bottom: 1px solid #e5e5e5;
				line-height: 1.5em;
				width: 100%;
			}

			select {
				border: none;
				border-bottom: 1px solid #e5e5e5;
				line-height: 1.5em;
				width: 100%;
			}
		}
	}

	input {
		&:placeholder-shown {
			font-style: italic;
			font-weight: 100;
			background: transparent;
			outline: none;
		}

		&::placeholder {
			color: $textColorDark;
			opacity: 0.5;
		}

		&:focus {
			outline: none;
			color: $textColorDark;
			margin: 0;
			background: $transparentColor;
			border-bottom: 1px solid $colorSpec;
		}

		&:active {
			outline: none;
			color: $textColorDark;
			margin: 0;
			background: $transparentColor;
			border-bottom: 1px solid $colorSpec;
		}
	}

	select {
		&:focus {
			outline: none;
			color: $textColorDark;
			margin: 0;
			background: $transparentColor;
			border-bottom: 1px solid $colorSpec;
		}

		&:active {
			outline: none;
			color: $textColorDark;
			margin: 0;
			background: $transparentColor;
			border-bottom: 1px solid $colorSpec;
		}
	}

	>section {
		gap: 10px;
	}

	.find-checks-area {
		h4 {
			margin: 0;
		}

		display: grid;
	}

	.formButtons {
		display: flex;
	}

	label.desc {
		display: table;
		clear: both;
	}
}

.flex {
	width: 100%;
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	gap: 15px 25px;

	li {
		display: flex;
		flex-direction: column;
	}

	>li {
		label {
			margin: 10px 0;
		}
	}
}

.container {
	box-sizing: border-box;
	display: grid;
	justify-items: center;
	color: $textColorDark;
	font-size: 15px;
	padding: 25px;
	max-width: 600px;
	width: 100%;

	* {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}

.errorMsg {
	margin: 5px 0;
	color: $colorError;
}

input.was-validated {
	&:invalid {
		color: $colorError;
		border-bottom: 1px solid $colorError !important;
		margin-bottom: 0 !important;
	}

	&:valid {
		color: $colorGood;
		border-bottom: 1px solid $colorGood !important;
		margin-bottom: 0 !important;
	}

	&:invalid~div.errorMsg {
		display: block;
	}
}

select.was-validated {
	&:invalid {
		color: $colorError;
		border-bottom: 1px solid $colorError !important;
		margin-bottom: 0 !important;
	}

	&:valid {
		color: $colorGood;
		border-bottom: 1px solid $colorGood !important;
		margin-bottom: 0 !important;
	}

	&:select~div.errorMsg {
		display: block;
	}
}

input {
	&:valid~div.errorMsg {
		display: none;
	}

	&:invalid~div.errorMsg {
		display: none;
	}
}

select {
	&:valid~div.errorMsg {
		display: none;
	}

	&:invalid~div.errorMsg {
		display: none;
	}
}

.add-state-city {
	gap: 15px;
	flex-direction: row !important;

	>section {
		display: grid;
	}
}

.find-checks {
	height: max-content;

	>input {
		display: none;

		&:checked {
			+ {
				label {
					background: $colorSpec;
					color: $textColorLight;
				}
			}
		}
	}

	label {
		margin: 5px 0;
		padding: 10px;
		border-radius: 2px;
		display: inline-block;
	}
}

.button-1 {
	width: fit-content;
	padding: 10px 35px;
	border: none;
	background: $colorSpec;
	color: $textColorLight;
	letter-spacing: .09em;
	border-radius: 30px;

	:after {
		outline: none;
	}
}

.form-send {
	flex: 1 2;
}

.splash {
	position: fixed;
	width: 100vw;
	height: 100vh;
	padding: 0 !important;
	margin: auto;
	top: 0 !important;
	left: 0 !important;
	background: $darkBG;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 10;
	animation: off .6s ease-in-out 2.5s both;
}

.splash_logo {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 26px;
	font-weight: 600;
	color: #ffffff;
	z-index: 5;
	background: $colorSpec;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: off .6s ease-in-out 1s forwards;

	p {
		border-top: 1px solid $textColorLight;
		border-bottom: 1px solid $textColorLight;
		padding: 5px 0;
	}
}

.switch {
	position: relative;
	box-sizing: border-box;
	padding: 0 3px;
	height: 30px;
	min-width: 50px;
	margin: 0 35px;

	>input {
		display: none;

		&:checked {
			+ {
				.slider {
					background-color: $colorSpec;

					&:before {
						-webkit-transform: translateX(19px);
						-ms-transform: translateX(19px);
						transform: translateX(19px);
					}
				}
			}
		}

		&:focus {
			+ {
				.slider {
					box-shadow: 0 0 1px $colorSpec;
				}
			}
		}
	}
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $darkBG;
	-webkit-transition: .4s;
	transition: .4s;

	&:before {
		position: relative;
		content: "";
		height: 25px;
		width: 25px;
		margin: 3px;
		background-color: $lightBG;
		float: left;
		-webkit-transition: .4s;
		transition: .4s;
	}
}

.slider.round {
	border-radius: 36px;

	&:before {
		border-radius: 50%;
	}
}

#menu-button {
	input {
		&:hover {
			cursor: pointer;
		}
	}
}

.footer {
	box-sizing: border-box;
	width: 100vw;
	display: flex;
	padding: 10px 30px;
	color: $textColorLight;
	background-color: $darkComp;
	align-items: center;
	justify-content: space-evenly;

	>* {
		flex: 1 100%;
	}

	li {
		line-height: 2em;
	}
}

.footer_main {
	h1 {
		font-weight: 400;
		font-size: 1.5rem;
	}
}

.footer_links {
	display: flex;
	list-style: none;
	margin: 0 !important;

	>* {
		flex: 1 50%;
	}
}

.footer_legal {
	text-align: right;
	opacity: 0.5;
}

.Visits {
	color: $textColorLight;
	text-align: left;
	gap: 25px;
	min-height: calc(100vh - 106px);
	grid-auto-rows: min-content;

	.log_info {
		display: flex;
		align-items: center;
		font-weight: 200;

		.total_users {
			font-size: 20px;
		}

		span {
			margin: 0 15px;
		}

		section {
			margin-left: auto;

			>* {
				border-radius: 5px;
				margin: 0 5px;
				background: $darkComp;
				padding: 10px 20px;

				&:hover {
					cursor: pointer;
				}
			}

			.selected_display_style {
				background: $colorSpec;
			}

			:last-child {
				background: $colorSpec;
			}
		}

	}

	.visitor_grid {
		//grid-template-columns: repeat(5, 1fr);
		display: flex !important;
		flex-wrap: wrap;

		section {
			grid-template-columns: auto !important;
			grid-auto-rows: max-content;
			gap: 15px 0 !important;
			padding: 25px !important;
			justify-items: center !important;
			text-align: center !important;

			>:first-child {
				display: grid;
				justify-items: center;
				align-items: center;
				gap: 15px 0;
				width: 100%;
				font-size: 20px;

				.visitor-name-icon {
					display: block;
					font-size: 50px;
					padding: 12px 25px;
					margin: 0;
					border-radius: 50px;
				}
			}

			.visitor_action {
				gap: 0 5px !important;
				border: none;

				input,
				i {
					margin: 0 !important;
				}
			}
		}

		.log_header {
			display: none;
		}
	}

	.Visiters {
		display: grid;
		gap: 7px;

		.log_header {
			color: $textColorLight;
			background: none;
		}

		section {
			display: grid;
			justify-items: start;
			align-items: center;
			grid-template-columns: 1fr 2fr 1fr 1fr .5fr;
			background: $darkComp;
			border-radius: 15px;
			padding: 10px;
			gap: 0 15px;

			.visitor_email_button {
				text-decoration: none;
				color: $textColorLight;
				font-weight: 100;

				i {
					padding: 7px 10px;
					border-radius: 5px;
					margin: 5px;
					background: $colorSpec2;

					&:hover {
						cursor: pointer;
					}

					@media (min-width: 1200px) {
						display: none;
					}
				}

				span {
					@media (max-width: 1200px) {
						display: none;
					}
				}
			}

			.visitor-name-icon {
				display: inline-block;
				font-size: 13px;
				box-sizing: border-box;
				padding: 7px 10px;
				margin: 0 15px 0 0;
				border-radius: 20px;
				width: fit-content;
			}

			.visitor_action {
				margin: 0;
				background: none;
				justify-self: center;
				display: flex;
				padding: 0 !important;

				gap: 0;

				input,
				i {
					padding: 7px 10px;
					border-radius: 5px;
					margin: 5px;

					&:hover {
						cursor: pointer;
					}
				}

				:nth-child(2) {
					background: $darkComp;
				}
			}

			p {
				margin: 0;
			}
		}
	}
}


@media (max-width: 900px) {
	.footer {
		flex-direction: column;
		text-align: center;
	}

	.footer_links {
		width: 100%;
	}

	.footer_legal {
		text-align: center;
	}
}

@media (min-width: 2000px) {
	.welcome-title {
		.welcome {
			font-size: 45px;
		}

		.description {
			font-size: 20px;
		}
	}

	.container {
		max-width: 1000px;
		font-size: 20px;
	}

	#myform {
		input {
			&:placeholder-shown {
				font-size: 20px;
			}
		}
	}

	.button-1 {
		font-size: 20px;
	}

	.user-sign {
		grid-template-columns: 1fr 3fr;

		>section {
			h1 {
				font-size: 25px;

				span {
					font-size: 30px;
				}
			}
		}

		section {
			img {
				width: 200px;
			}
		}
	}
}

@media (min-width: 1200px) {
	#menu-button {
		display: none;
	}

	.welcome-title {
		.welcome {
			font-size: 30px;
		}

		.description {
			font-size: 12px;
		}
	}

	.info {
		.text {
			section {
				h2 {
					font-size: 50px;
				}
			}
		}

		width: 100%;
	}

	.Home {
		padding: 100px 50px 50px 50px;
	}

	.body-info {
		width: 100%;
		min-height: 300px;
		min-width: 300px;
		grid-template-columns: 85% 15%;
		grid-template-rows: 100%;
	}

	.body-info-text {
		h2 {
			font-size: 25px;
		}

		h3 {
			font-size: 17px;
			font-weight: normal;
		}
	}

	.body-info-image {
		width: auto;
	}

	.body-info-main {
		grid-template-columns: 40% 60%;
		justify-content: center;
	}

	.body-info-icons {
		>p {
			font-weight: 200;
		}
	}

	.about {
		>.title {
			font-size: 80px;
		}

		>.description {
			font-size: 20px;
		}
	}

	.solar-info-card {
		margin: 15px 0;
	}

	#Menu {
		label {
			margin: 0;
			opacity: 0.5;

			&:hover {
				opacity: 0.7;
			}
		}

		.toggle {
			&:checked+#Menu {
				label {
					color: $lightBG;
				}
			}
		}
	}

	.APOD {
		.info {
			flex-direction: column-reverse;
		}
	}
}

@media (max-width: 1200px) {
	.welcome-title {
		margin-top: 0px;
	}

	.about {
		>.title {
			font-size: 80px;
		}

		>.description {
			font-size: 20px;
		}
	}

	.slide {
		right: 0 !important;
	}

	#menu-button {
		margin-left: auto;
		transition: all 200ms ease-in-out;

		input {
			color: $lightBG;
			font-size: 35px;
			padding: 0;
			margin: 0;
			z-index: 1;
			background: none;
			border: none;
			outline: none;
		}
	}

	.button-slide {
		padding-right: calc(50% + 15px) !important;
	}

	#Menu {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 50%;
		height: 100vh;
		top: 0;
		right: -50%;
		margin: auto;
		z-index: 2;
		background: rgba(0, 0, 0, 0.9);

		label {
			border-radius: 15px;
			margin: 5px 15px;
			max-width: calc(100% - 30px);
			transition: none;
			opacity: 0.8;

			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}

		.toggle {
			&:checked+label {
				color: $lightText;
				background: $lightBG;
			}
		}
	}

	.background-slider {
		display: none;
	}

	.info {
		width: 100%;
	}

	.text {
		section {
			h2 {
				font-size: 30px;
			}
		}
	}

	.MarsRover {
		.info {
			iframe {
				width: 100%;
			}
		}
	}
}

@media (min-width: 800px) {
	.welcome-title {
		.welcome {
			font-size: 30px;
		}

		.description {
			font-size: 12px;
		}
	}
}

@media (max-width: 800px) {
	.welcome-title {
		.welcome {
			font-size: 25px;
		}

		.description {
			font-size: 12px;
		}
	}

	.text {
		p {
			display: none;
		}
	}

	.info {
		.text {
			section {
				h2 {
					font-size: 40px;
				}
			}
		}
	}

	.Home {
		padding: 100px 35px 35px 35px;
	}
}

@media (min-width: 600px) {
	.body-info {
		grid-template-columns: 85% 15%;
		grid-template-rows: 100%;
	}

	.body-info-main {
		grid-template-columns: 40% 60%;
		justify-content: center;
	}

	.body-info-icons {
		width: fit-content;
		text-align: right;
	}
}

@media (max-width: 600px) {
	.body-info {
		max-width: 100%;
		height: fit-content;
		grid-template-columns: 100%;
		grid-template-rows: auto 25%;
		margin: 15px 0 !important;
	}

	.body-info-text {
		>p {
			display: none;
		}

		padding: 0;
		justify-self: center;

		h2 {
			font-size: 35px;
		}

		h3 {
			font-size: 20px;
			font-weight: normal;
		}
	}

	.body-info-image {
		width: auto;
	}

	.body-info-main {
		grid-template-columns: auto;
		justify-content: center;
	}

	.body-info-icons {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid $lightBG;
		margin: 55px 0;
		width: 80% !important;
		text-align: center;

		>p {
			font-weight: 100;
		}
	}

	.Home {
		background-position: 0 100px;
		padding: 100px 20px 20px 20px;
	}

	.about {
		>.title {
			font-size: 50px;
		}

		>.description {
			font-size: 12px;
		}
	}

	.solar-info {
		flex-direction: column;
	}

	.solar-info-card {
		margin: 15px auto;
	}

	.our-planets {
		.planet {
			p {
				font-size: 25px;
			}
		}
	}

	.info {
		display: flex;
		flex-direction: column;

		.text {
			p {
				display: none;
			}

			section {
				h2 {
					font-size: 30px;
				}
			}
		}

		iframe {
			width: 100%;
		}
	}

	.APOD {
		.info {
			flex-direction: column-reverse;
		}
	}
}

@media (max-width: 1000px) {
	.container {
		width: 100vw;
	}

	.user-sign {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 3fr;

		section {
			h1 {
				margin: 0;
			}

			img {
				width: 90px;
			}
		}
	}
}