@-webkit-keyframes off {
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}

@keyframes off {
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}

@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: overlay;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  overflow-y: overlay;
  overflow-x: hidden;
  background-size: 100vw auto;
  background-repeat: no-repeat;
}

body .light_mode_logo {
  display: none;
}

button:hover,
input[type="button"]:hover {
  cursor: pointer;
}

header {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 35px;
  z-index: 2;
  height: 60px;
  gap: 15px;
  background: #181818;
  color: white;
}

header #nav {
  padding: 21px 40px;
  color: white;
  position: relative;
}

header #nav .dropdown-toggle {
  padding: 0;
  margin: 0;
}

header #nav .dropdown {
  background: #2178f6;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 15px;
  margin: 0;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

header #nav .dropdown li {
  list-style-type: none;
  padding: 15px 0;
}

header #nav .dropdown li label {
  color: white;
}

header #nav *:hover {
  cursor: pointer;
}

header .header-title {
  padding: 15px 20px !important;
}

header .header-title > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-title > section > img {
  height: 30px;
}

header .header-title > section > #title {
  font-size: 20px;
  margin: 0;
  color: white;
}

header .header-title .dropdown {
  background: #181818 !important;
}

#Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: arial, sans-serif;
  margin: auto;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

#Menu > label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  padding: 20px 40px;
  z-index: 1;
  float: left;
  text-align: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  height: 60px;
}

#Menu > label:hover {
  cursor: pointer;
}

.style_switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.style_switch .switch {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 3px;
  height: 30px;
  min-width: 50px;
}

.style_switch .switch > input {
  display: none;
}

.style_switch .switch > input:checked + .slider {
  background-color: #2178f6;
}

.style_switch .switch > input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  transform: translateX(19px);
}

.style_switch .switch > input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2178f6;
          box-shadow: 0 0 1px #2178f6;
}

.style_switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9eef1;
  -webkit-transition: .4s;
  transition: .4s;
}

.style_switch .switch .slider:before {
  position: relative;
  content: "";
  height: 25px;
  width: 25px;
  margin: 3px;
  background-color: white;
  float: left;
  -webkit-transition: .4s;
  transition: .4s;
}

.style_switch .switch .slider.round {
  border-radius: 36px;
}

.style_switch .switch .slider.round:before {
  border-radius: 50%;
}

.toggle {
  display: none;
}

main {
  min-height: calc(100vh - 106px);
}

main > section {
  display: -ms-grid;
  display: grid;
  gap: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 95px 35px 35px 35px;
  z-index: 0;
}

main > .Home {
  background-image: url("./../img/background.PNG");
  background-size: 100vw auto;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: calc(100vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main > .Home .bottom-banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3e3e3e;
  background: #ccddf5;
  padding: 15px 35px;
  font-size: 30px;
  border-radius: 10px;
}

main > .Home .bottom-banner span {
  font-size: 0.5em;
  font-weight: 100;
}

main > .Home .bottom-banner button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  background: #2178f6;
  color: white;
  letter-spacing: .09em;
  border-radius: 5px;
  font-size: 0.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-column-align: end;
      justify-self: end;
}

main > .Home .bottom-banner button :after {
  outline: none;
}

main > .Home .bottom-banner button a {
  text-decoration: none;
  color: white;
}

.welcome-title {
  position: relative;
  color: white;
  text-align: center;
  opacity: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  -webkit-animation: slideRight 500ms ease-in-out both;
          animation: slideRight 500ms ease-in-out both;
  padding: 35px;
  padding-left: 75px;
  border-radius: 15px;
  background: #181818;
}

.welcome-title p {
  margin: 10px 0;
}

.welcome-title .Learn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  background: #2178f6;
  color: white;
  letter-spacing: .09em;
  border-radius: 5px;
  border-radius: 25px;
  text-decoration: none;
  margin: 10px 0;
}

.welcome-title .Learn :after {
  outline: none;
}

.welcome-title .description i {
  color: #2178f6;
  font-size: 1.5em;
}

.welcome-title img {
  position: absolute;
  height: 100px;
  left: -50px;
  border-radius: 50%;
  padding: 15px;
  background: #181818;
}

.about {
  color: white;
  max-width: 600px;
  text-align: right;
  margin: 0;
  margin-left: auto;
  padding: 50px 0;
  -webkit-animation: slideUp 500ms 500ms ease-in-out both;
          animation: slideUp 500ms 500ms ease-in-out both;
}

.about > .title {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  margin: 0;
  color: #2178f6;
}

.solar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-animation: slideUp 500ms 500ms ease-in-out both;
          animation: slideUp 500ms 500ms ease-in-out both;
}

.solar-info-card {
  background: #181818;
  padding: 40px 20px;
  border-radius: 5px;
  text-align: center;
  min-width: 200px;
  max-width: 350px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.solar-info-card > img {
  width: 75px;
  height: auto;
  margin-bottom: 25px;
}

.solar-info-card > p {
  margin: 0;
}

.solar-info-card > .amount {
  font-family: Rubik, sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 600;
}

.media-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.media-info > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-info .APOD {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-info .info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50% - 20px) calc(50% - 20px);
      grid-template-columns: calc(50% - 20px) calc(50% - 20px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 40px;
  background: #181818;
}

.media-info .info img {
  width: 100%;
}

.media-info .info iframe {
  width: 100%;
}

.media-info .text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 35px;
}

.media-info .text > * {
  -ms-grid-column-align: end;
      justify-self: end;
}

.media-info .text section {
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  text-align: right;
}

.media-info .text section h2 {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  margin: 5px 0;
}

.media-info .text section h2 span {
  color: #2178f6;
  font-weight: 200;
}

.media-info .text section h3 {
  font-size: 18px;
  font-weight: 200;
  margin: 5px 0;
}

.media-info .text p {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: right;
}

.media-info .MarsRover p {
  text-align: left;
}

.media-info .MarsRover .text section {
  text-align: left;
  -ms-grid-column-align: start;
      justify-self: start;
}

.paused {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

.hidden {
  display: none !important;
}

.body-info {
  display: -ms-grid;
  display: grid;
  border-radius: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  z-index: 0;
  color: white;
  background-color: black;
}

.body-info:hover {
  cursor: pointer;
}

.body-info-main {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-info-main > img {
  max-width: 80%;
  max-height: 90%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.body-info-image {
  max-width: 80%;
  max-height: 90%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.body-info-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 15px;
}

.body-info-text > h2 {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
}

.body-info-text > h3 {
  font-family: 'Orbitron', sans-serif;
  margin: 10px 0;
}

.body-info-text > p {
  margin: 0;
  font-size: 15px;
}

.body-info-icons {
  font-size: 13px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 15px;
  line-height: 19px;
}

.body-info-icons > p {
  font-family: 'Raleway', sans-serif;
  margin: 20px 0;
}

.body-info-icons p::first-line {
  font-size: 15px;
  font-weight: 500;
}

.image-not-found {
  opacity: 0.5;
  width: 50px;
  height: 50px;
}

.user-sign {
  z-index: 4;
  width: 100vw;
  min-height: 100vh;
  background-color: #181818;
  padding: 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: minmax(10%, 49vh) minmax(600px, auto) minmax(10%, 49vh);
      grid-template-columns: minmax(10%, 49vh) minmax(600px, auto) minmax(10%, 49vh);
  gap: 0 !important;
}

.user-sign > section {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
}

.user-sign > .left {
  background-image: url("./../img/background2.PNG");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: right;
}

.user-sign > .right {
  background-image: url("./../img/background3.PNG");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: left;
}

.user-sign .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  color: white;
  font-size: 15px;
  padding: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.user-sign .container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.user-sign .container #myform {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  max-width: 600px;
}

.user-sign .container #myform > img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 30px;
  margin: auto;
  background: #2178f6;
  padding: 15px;
  border-radius: 50%;
}

.user-sign .container #myform .flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  gap: 15px 25px;
}

.user-sign .container #myform .flex li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-sign .container #myform .flex > li label {
  margin: 10px 0;
}

.user-sign .container #myform ul li input {
  border: none;
  border-bottom: 1px solid #505050;
  line-height: 1.5em;
  width: 100%;
}

.user-sign .container #myform input:placeholder-shown {
  font-size: 0.85em;
  font-style: italic;
  font-weight: 100;
  background: transparent;
  outline: none;
}

.user-sign .container #myform input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

.user-sign .container #myform input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.user-sign .container #myform input::-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.user-sign .container #myform input::placeholder {
  color: white;
  opacity: 0.5;
}

.user-sign .container #myform input:focus {
  outline: none;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #2178f6;
}

.user-sign .container #myform input:active {
  outline: none;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #2178f6;
}

.user-sign .container #myform .find-checks-area {
  display: -ms-grid;
  display: grid;
  gap: 5px;
}

.user-sign .container #myform .find-checks-area p {
  font-size: 1em;
  margin: 0;
}

.user-sign .container #myform .find-checks-area .find-checks {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.user-sign .container #myform .find-checks-area .find-checks > input {
  display: none;
}

.user-sign .container #myform .find-checks-area .find-checks > input:checked + label {
  background: #2178f6;
  color: white;
}

.user-sign .container #myform .find-checks-area .find-checks label {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  background: #141414;
}

.user-sign .container #myform .formButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.user-sign .container #myform .formButtons button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  background: #2178f6;
  color: white;
  letter-spacing: .09em;
  border-radius: 5px;
}

.user-sign .container #myform .formButtons button :after {
  outline: none;
}

.user-sign .container #myform .formButtons :first-child {
  background: #deebfe;
  color: #333;
}

.user-sign .container #myform label.desc {
  display: table;
  clear: both;
}

.errorMsg {
  margin: 5px 0;
  color: #ec1313;
}

input.was-validated:invalid {
  color: #ec1313;
  border-bottom: 1px solid #ec1313 !important;
  margin-bottom: 0 !important;
}

input.was-validated:invalid ~ div.errorMsg {
  display: block;
}

input.was-validated:valid {
  color: #2cd816;
  border-bottom: 1px solid #2cd816 !important;
  margin-bottom: 0 !important;
}

input:valid ~ div.errorMsg {
  display: none;
}

input:invalid ~ div.errorMsg {
  display: none;
}

.form_flex {
  gap: 15px;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.form_flex > section {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.form-send {
  -webkit-box-flex: 1;
      -ms-flex: 1 2;
          flex: 1 2;
}

#menu-button input:hover {
  cursor: pointer;
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
  color: white;
  background-color: #181818;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 15px;
}

.footer > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.footer .footer_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.footer .footer_main img {
  height: 2.5em;
}

.footer .footer_main h1 {
  font-weight: 400;
  font-size: 1.25em;
}

.footer .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  gap: 15px;
  font-size: 1.66em;
}

.footer .footer_links a {
  color: white;
}

.footer .footer_links a i {
  opacity: 0.65;
}

.footer .footer_links > :last-child a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  background: #2178f6;
  color: white;
  letter-spacing: .09em;
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 0.5em;
}

.footer .footer_links > :last-child a :after {
  outline: none;
}

.footer .footer_links > *:hover {
  cursor: pointer;
}

.footer .footer_legal {
  text-align: right;
  opacity: 0.5;
}

.Visits {
  color: white;
  text-align: left;
  gap: 25px;
  min-height: calc(100vh - 106px);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}

.Visits .visit-stats {
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Visits .visit-stats .visit-stat {
  background: #deebfe;
  border-radius: 10px;
  padding: 5px 50px;
  min-width: 150px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Visits .visit-stats .visit-stat .visit-stat-header {
  font-weight: bold;
  margin-bottom: 0;
}

.Visits .visit-stats .visit-stat .visit-stat-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin: 10px 0;
}

.Visits .visit-stats .visit-stat .visit-stat-num span {
  font-family: Rubik, sans-serif;
  font-size: 2em;
  color: #2178f6;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-right: 15px;
  border-right: 2px solid #2178f6;
}

.Visits .visit-stats .stat-2 {
  background: #eddefe;
}

.Visits .visit-stats .stat-2 .visit-stat-num span {
  color: #b321f6;
  border-right: 2px solid #b321f6;
}

.Visits .visit-stats .stat-3 {
  background: #fee7de;
}

.Visits .visit-stats .stat-3 .visit-stat-num span {
  color: #ff3a17;
  border-right: 2px solid #ff3a17;
}

.Visits .log_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 200;
}

.Visits .log_info .log_buttons {
  margin-left: auto;
}

.Visits .log_info .log_buttons > * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  background: #2178f6;
  color: white;
  letter-spacing: .09em;
  border-radius: 5px;
  margin: 5px;
  background: #181818;
  padding: 10px 20px;
}

.Visits .log_info .log_buttons > * :after {
  outline: none;
}

.Visits .log_info .log_buttons > *:hover {
  cursor: pointer;
}

.Visits .log_info .log_buttons .selected_display_style {
  background: #2178f6;
}

.Visits .log_info .log_buttons :last-child {
  background: #2178f6;
}

.Visits .visitor_grid {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Visits .visitor_grid .log_header {
  display: none !important;
}

.Visits .visitor_grid section {
  -ms-grid-columns: auto !important;
      grid-template-columns: auto !important;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  gap: 15px 0 !important;
  padding: 25px !important;
  justify-items: center !important;
  text-align: center !important;
}

.Visits .visitor_grid section > :first-child {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 0;
  width: 100%;
  font-size: 20px;
}

.Visits .visitor_grid section > :first-child .visitor-name-icon {
  display: block;
  font-size: 50px;
  padding: 12px 25px;
  margin: 0;
  border-radius: 50px;
}

.Visits .visitor_grid section .visitor_action {
  gap: 0 5px !important;
  border: none;
}

.Visits .visitor_grid section .visitor_action input,
.Visits .visitor_grid section .visitor_action i {
  margin: 0 !important;
}

.Visits .visitor_grid .log_header {
  display: none;
}

.Visits .Visiters {
  display: -ms-grid;
  display: grid;
  gap: 5px;
}

.Visits .Visiters .log_header {
  color: white;
  background: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 2fr 1fr 1fr .5fr;
      grid-template-columns: 1fr 2fr 1fr 1fr .5fr;
  background: none;
  padding: 5px 10px;
  gap: 0 15px;
}

.Visits .Visiters .log_header i {
  margin-right: 10px;
}

.Visits .Visiters .log_header .visitor_action {
  -ms-grid-column-align: center;
      justify-self: center;
}

.Visits .Visiters > .visitor {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 2fr 1fr 1fr .5fr;
      grid-template-columns: 1fr 2fr 1fr 1fr .5fr;
  background: #181818;
  border-radius: 5px;
  padding: 10px;
  gap: 0 15px;
}

.Visits .Visiters > .visitor .visitor_email_button {
  text-decoration: none;
  font-weight: 100;
}

.Visits .Visiters > .visitor .visitor_email_button i {
  padding: 7px;
  border-radius: 5px;
  margin: 5px;
  color: #333;
  background: #deebfe;
}

.Visits .Visiters > .visitor .visitor_email_button i:hover {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .Visits .Visiters > .visitor .visitor_email_button i {
    display: none;
  }
}

@media (max-width: 1200px) {
  .Visits .Visiters > .visitor .visitor_email_button span {
    display: none;
  }
}

.Visits .Visiters > .visitor .visitor-name-icon {
  display: inline-block;
  font-size: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 10px;
  margin: 0 15px 0 0;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Visits .Visiters > .visitor .visitor_action {
  margin: 0;
  background: none;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 !important;
  gap: 0;
}

.Visits .Visiters > .visitor .visitor_action input,
.Visits .Visiters > .visitor .visitor_action i {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  background: #2178f6;
  color: white;
  letter-spacing: .09em;
  border-radius: 5px;
  margin: 5px;
  padding: 8px 7px 8px 8px;
  font-size: 16px;
}

.Visits .Visiters > .visitor .visitor_action input :after,
.Visits .Visiters > .visitor .visitor_action i :after {
  outline: none;
}

.Visits .Visiters > .visitor .visitor_action input:hover,
.Visits .Visiters > .visitor .visitor_action i:hover {
  cursor: pointer;
}

.Visits .Visiters > .visitor .visitor_action :nth-child(2) {
  background: none;
}

.Visits .Visiters > .visitor p {
  margin: 0;
}

@media (max-width: 900px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_links {
    width: 100%;
  }
  .footer_legal {
    text-align: center !important;
  }
}

@media (min-width: 2000px) {
  .welcome-title .welcome {
    font-size: 45px;
  }
  .welcome-title .description {
    font-size: 20px;
  }
  .container {
    max-width: 1000px;
    font-size: 20px;
  }
  #myform input:placeholder-shown {
    font-size: 20px;
  }
  .button-1 {
    font-size: 20px;
  }
  .user-sign > section h1 {
    font-size: 25px;
  }
  .user-sign > section h1 span {
    font-size: 30px;
  }
  .user-sign section img {
    width: 200px;
  }
}

@media (min-width: 1200px) {
  #menu-button {
    display: none;
  }
  .welcome-title .welcome {
    font-size: 30px;
  }
  .welcome-title .description {
    font-size: 14px;
  }
  .info {
    width: 100%;
  }
  .info .text section h2 {
    font-size: 50px;
  }
  .Home {
    padding: 100px 50px 50px 50px;
  }
  .body-info {
    width: 100%;
    min-height: 300px;
    min-width: 300px;
    -ms-grid-columns: 6fr 1fr;
        grid-template-columns: 6fr 1fr;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .body-info-text h2 {
    font-size: 25px;
  }
  .body-info-text h3 {
    font-size: 17px;
    font-weight: normal;
  }
  .body-info-image {
    width: auto;
  }
  .body-info-main {
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body-info-icons > p {
    font-weight: 200;
  }
  .about > .title {
    font-size: 80px;
  }
  .about > .description {
    font-size: 20px;
  }
  .solar-info-card {
    margin: 15px 0;
  }
  #Menu label {
    margin: 0;
  }
  #Menu .toggle:checked + #Menu label {
    color: white;
  }
  .APOD .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 1200px) {
  .welcome-title {
    margin-top: 0px;
  }
  .about > .title {
    font-size: 80px;
  }
  .about > .description {
    font-size: 20px;
  }
  .slide {
    right: 0 !important;
  }
  #menu-button {
    margin-left: auto;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  #menu-button input {
    color: white;
    font-size: 35px;
    padding: 0;
    margin: 0;
    z-index: 1;
    background: none;
    border: none;
    outline: none;
  }
  .button-slide {
    padding-right: calc(50% + 15px) !important;
  }
  #Menu {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    height: 100vh;
    top: 0;
    right: -50%;
    margin: auto;
    z-index: 2;
    background: rgba(0, 0, 0, 0.9);
  }
  #Menu label {
    border-radius: 15px;
    margin: 5px 15px;
    max-width: calc(100% - 30px);
    -webkit-transition: none;
    transition: none;
  }
  #Menu label:hover {
    cursor: pointer;
  }
  #Menu .toggle:checked + label {
    color: #212121;
    background: white;
  }
  .background-slider {
    display: none;
  }
  .info {
    width: 100%;
  }
  .text section h2 {
    font-size: 30px;
  }
  .MarsRover .info iframe {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .welcome-title .welcome {
    font-size: 30px;
  }
  .welcome-title .description {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .welcome-title .welcome {
    font-size: 25px;
  }
  .welcome-title .description {
    font-size: 14px;
  }
  .text p {
    display: none;
  }
  .info .text section h2 {
    font-size: 40px;
  }
  .Home {
    padding: 100px 35px 35px 35px;
  }
}

@media (min-width: 600px) {
  .body-info {
    -ms-grid-columns: 6fr 1fr;
        grid-template-columns: 6fr 1fr;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .body-info-main {
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body-info-icons {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: right;
  }
}

@media (max-width: 600px) {
  main > section {
    padding: 75px 15px 15px 15px;
  }
  .body-info {
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 25%;
        grid-template-rows: auto 25%;
  }
  .body-info-text {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .body-info-text > p {
    display: none;
  }
  .body-info-text h2 {
    font-size: 35px;
  }
  .body-info-text h3 {
    font-size: 20px;
    font-weight: normal;
  }
  .body-info-image {
    width: auto;
  }
  .body-info-main {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body-info-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid white;
    margin: 55px 0;
    width: 80% !important;
    text-align: center;
  }
  .body-info-icons > p {
    font-weight: 100;
  }
  .Home {
    padding: 100px 20px 20px 20px;
  }
  .Home .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Home .info .text p {
    display: none;
  }
  .Home .info .text section h2 {
    font-size: 30px;
  }
  .Home .info iframe {
    width: 100%;
  }
  .Home .APOD .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about > .title {
    font-size: 50px;
  }
  .about > .description {
    font-size: 14px;
  }
  .solar-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .solar-info-card {
    margin: 15px auto;
  }
  .our-planets .planet p {
    font-size: 25px;
  }
  .footer_main h1 {
    display: none;
  }
  .footer_main img {
    margin: 15px 0;
  }
  .log_info {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    gap: 15px;
    width: 100%;
  }
  .log_info .visit-stats {
    display: -ms-grid;
    display: grid;
  }
  .log_info .visit-stats .visit-stat {
    font-size: 14px;
  }
  .log_info .visit-stats .visit-stat .visit-stat-num span {
    font-size: 1.5em !important;
  }
  .log_info .log_buttons {
    margin-left: 0 !important;
  }
  .Visiters .log_header {
    justify-items: center;
  }
  .Visiters .log_header p span {
    display: none;
  }
  .Visiters .visitor {
    font-size: 14px;
  }
  .Visiters .visitor a {
    -ms-grid-column-align: center !important;
        justify-self: center !important;
  }
  .Visiters .visitor i {
    font-size: .9em !important;
  }
  .Visiters .visitor .visitor_action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .visitor_grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .visitor_grid section .visitor_action {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 100vw;
  }
  .user-sign {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 5fr;
        grid-template-rows: 1fr 5fr;
  }
  .user-sign > .left {
    background-image: url("./../img/background4.PNG");
    background-size: 100vw auto;
    background-repeat: no-repeat;
  }
  .user-sign > .right {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */