@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

:root {
    --font-family: Arial, Helvetica, sans-serif;
    --color-light-bg: white;
    --color-light-comp: #EDEDED;
    --color-light-text: #212121;
    --color-color-spec: rgb(0, 123, 224);;
    --color-color-spec-two: #286d08;
    --color-dark-bg: #282828; 
    --color-dark-comp: #191919;
    --background-gradient-one: linear-gradient(0.25turn, black, 85%, #002138);
    --color-error: rgb(222, 37, 37);
    --form-color-text: white;
}