.body-info{
    display: grid;
    border-radius: 25px;
    /* width: calc(50% - 12px); */
    width: 100%;
    min-height: 300px;
    min-width: 300px;
    grid-template-columns: auto 18%;
    grid-template-rows: 100%;
    align-items: center;
    float: left;
    padding: 15px;
    z-index: 0;

    color: var(--color-light-bg);
    background-color: black;
    transition: all 0.2s ease-in-out;
}
.body-info:hover{
    cursor: pointer;
}
.body-info-main{
    display: grid;
    height: 100%;
    column-gap: 10px;
    grid-template-columns: 35% auto;
    text-align: right;
    align-items: center;
}
.body-info-image, .body-info-main > img {
    max-width: 80%;
    max-height: 90%;
    justify-self: center;
    /* border-radius: 50%; */
}
.body-info-text{
    box-sizing: border-box; 
    padding-right: 25px;
}
.body-info-text > h2{
    font-size: 25px;
    margin: 0;
}
.body-info-text > h3{
    font-size: 17px;
    margin: 5px 0;
}
.body-info-text > p{
    margin: 0;
    font-size: 15px;
}
.body-info-icons{
    font-size: 13px;
    text-align: center;
    justify-self: center;
    align-self: center;
    width: fit-content;
    padding: 0 15px;
    line-height: 19px;

    border-left: 1px solid var(--color-light-bg);
}
.body-info-icons > p{
    margin: 20px 0;
}
.image-not-found{
    opacity: 0.5;
    width: 50px;
    height: 50px;
}
