html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background: black;
    
    overflow-y: overlay;
    overflow-x: hidden;
    
}
::-webkit-scrollbar{
    background: transparent;
}

header{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    z-index: 2;
}
header > section {
    display: flex;
    align-items: center;
}
header > section > img{
    height: 40px;
    padding: 0px 25px;
    filter: invert();
}
header > section > #title{
    color: white;
    font-size: 20px;
    margin: 0 0 0 -10px;
}
#Menu{
    display: flex;
    font-family: arial, sans-serif;
    overflow: hidden;
    margin: auto;
    transition: all 200ms ease-in-out;
}

.toggle{
    display: none;
}
#Menu label{
    box-sizing: border-box;
    color: var(--color-light-bg);
    margin: 0;
    font-size: 15px;
    padding: 20px 40px;
    z-index: 1;
    float: left;
    opacity: 0.5;
    text-align: center;
}
#Menu label:hover{ 
    cursor: pointer; 
    
    opacity: 0.7;
}
.background-slider{
    position: absolute;
    width: 16.66%;
    height: 100%;
    font-size: 0;
    padding: 0px 0;
    background: white;
    margin-top: 54px;
    z-index: 2;
}
#Menu .toggle:checked + label{ 
    color: var(--color-light-bg);
    opacity: 1;
}
#Menu label, .background-slider { transition: all 200ms ease-in-out; }
#Menu #Home:checked ~ .background-slider { margin-left: 0; }
#Menu #Planets:checked ~ .background-slider { margin-left: 16.66% }
#Menu #Moons:checked ~ .background-slider { margin-left: 33.33% }
#Menu #Dwarfs:checked ~ .background-slider { margin-left: 49.99% }
#Menu #Comets:checked ~ .background-slider { margin-left: 66.66% }
#Menu #Asteroids:checked ~ .background-slider { margin-left: 83.33% }

main{
    min-height: calc(100vh - 146px);
}
main > section {
    display: block;
    
    box-sizing: border-box;
    padding: 75px 15px 15px 15px;

    z-index: 0;
}

main > .Home{
    background-image: url('./../img/earth-background.jpg');
    background-size: 100vw auto;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: calc(100vh);

    display: flex;
    flex-direction: column;
    gap: 50px;

    box-sizing: border-box;
    padding: 150px 35px 35px 35px;
}
.welcome-title{
    color: white;
    text-align: center;
    opacity: 1;
    font-family: 'Raleway', sans-serif;
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome-title p{
    margin: 10px 0;
}
.welcome-title .welcome {
    font-size: 30px;
}
.welcome-title .Learn {
    background:rgb(0, 123, 224);
    border-radius: 25px;
    width: fit-content;
    padding: 15px;
    font-size: 16px;
}
.welcome-title .Learn:hover{
    cursor: pointer;
}
.paused {
    animation-play-state: paused;
}
.about{
    color: white;
    max-width: 600px;
    text-align: right;
    margin: 0;
    margin-left: auto;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.2));
    padding: 50px 25px;
}
.about > .title{
    font-size: 80px;
    font-weight: 600;
    margin: 0;
}
.about > .description{
    font-size: 20px;
}

.solar-info{
    display: flex;
    color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.solar-info-card {
    background: rgb(0, 123, 224);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 40px 20px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    margin: 15px 0;
}
.solar-info-card > img {
    width: 75px;
    height: auto;
    filter: invert();
    margin-bottom: 25px;
}
.solar-info-card > p {
    margin: 0;
}
.solar-info-card > .amount{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 600;
}
.our-planets-title{
    color: white;
    font-size: 70px;
    text-align: center;
    margin: 10px 0;
}
.our-planets{
    overflow: hidden;
}
.our-planets .planet{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    
    margin: 55px 0;
    flex: 0 0 auto;

    transition: all 200ms ease-in-out;
}
.our-planets .planet:hover{
    cursor: pointer;
    width: 42%;
    margin: 0 -1%;
}
.our-planets .planet img{
    width: 100%;
    z-index: 1;
    border-radius: 25%;
}
.our-planets .planet p{
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 75px;
    font-weight: 600;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
.carousel{
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    gap: 16.66%; 

    width: 100vw;
    padding: 0 50px;
    overflow: scroll;
}


@keyframes slideUp {
    from {
        top: 200px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}