html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  color: black;
}
body{
  display: grid;
  height: 100vh;
  justify-items: center;
  
  row-gap: 0;
  column-gap: 0;
}
.middle{
  display: grid;
  height: 100%;
  max-width: 950px;
  width: 100%;
  grid-auto-rows: 10% 5% 80%;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  row-gap: 0;
  column-gap: 0;
}

.clear{
  clear: both;
}
.slide-toggle{
  display: none;
}
.slidemenu{
  font-family: arial, sans-serif;
  overflow: hidden;
  max-height: 10vh;
  min-width: 70%;
  max-width: 100%;
}
.slidemenu label{
  width: 20%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.3;
  
}
.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}
/*Bar Style*/
.slider{
  width: 100%;
  height: 2px;
  display: block;
  background: #ccc;
  margin-top: 5px;
  border-radius: 5px;
}

.slider .bar{
  width: 20%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}
/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
}
/*Toggle*/
.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}

.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 20%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 40%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 60%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 80%; }


#Sudoku{
  display: grid;
  row-gap: 0;
  column-gap: 0;
  grid-template-columns: repeat(9,11.111%);
  grid-auto-rows: 11.111%;
  margin: 0;
  border: 2px solid #191919;

  max-width: 100vw;
  max-height: 80vh;
  width: 80vh;
  height: 100vw;

  box-sizing: border-box; 
  align-self: start;
}
.cell{
  border: 1px solid gray;
  text-align: center;
  font-size: 3vh;
  -webkit-appearance: none;
  color: gray !important;
  border-radius: 0px;
  margin: 0;
  padding: 0;
  opacity: 1;
}
.displayed, input[type="text"]:disabled {
  text-align: center !important;
  caret-color: transparent !important;
  background-color: white !important;
  color: black !important;
  border-radius: 0px !important;
  opacity: 1;
}
.cell:hover{
  cursor: pointer;
  background: #D0D0D0;
  border-radius: 0px;
}
.cell:focus{     
  outline: none !important;
  background-color: #bfc8e3;
  border-radius: 0px;
}
.cell > select {
  text-align: center;
  text-align-last:center;
}
.displayed:hover{
  background-color: white !important;
}
.displayed:focus{
  background-color: white !important;
}
.wrong{
  background-color: #ffc2c2 !important;
  color: #ff2c17 !important;
}
.mistakes{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}
.mistakes #errors{
  color: black;
  margin: 0 15px;
  justify-self: center;
}
.mistakes #numsleft{
  margin: 0 15px;
  justify-self: center;
}

/* Rows */
/* Cheating but this is easier */
#cell-3-0, #cell-3-1, #cell-3-2, #cell-3-3, #cell-3-4, #cell-3-5, #cell-3-6, #cell-3-7, #cell-3-8 {
  border-top: 2px solid gray !important;
}
#cell-6-0, #cell-6-1, #cell-6-2, #cell-6-3, #cell-6-4, #cell-6-5, #cell-6-6, #cell-6-7, #cell-6-8 {
  border-top: 2px solid gray !important;
} 

/* Columns */
/* Cheating but this is easier */
#cell-0-3, #cell-1-3, #cell-2-3, #cell-3-3, #cell-4-3, #cell-5-3, #cell-6-3, #cell-7-3, #cell-8-3 {
  border-left: 2px solid gray;
}
#cell-0-5, #cell-1-5, #cell-2-5, #cell-3-5, #cell-4-5, #cell-5-5, #cell-6-5, #cell-7-5, #cell-8-5 {
  border-right: 2px solid gray;
}

